{{#if this.siteSettings.premium_bt_enabled}}
{{#if currentUser}}
	<li class="premium-link">
	{{#if currentUser.premium}}
		<a href="/users/{{currentUser.username}}/preferences#premium">{{i18n 'premium_bt.site_menu_link_subscriber'}}</a>
	{{else}}
		<a href="/users/{{currentUser.username}}/preferences#premium">{{i18n 'premium_bt.site_menu_link_nonsubscriber'}}</a>
	{{/if}}
	</li>
	{{#if this.siteSettings.premium_bt_affiliate}}
	<li class="premium-link">
		<a href="/users/{{currentUser.username}}/preferences#affiliate">{{i18n 'premium_bt.site_menu_link_affiliate'}}</a>
	</li>
	{{/if}}
{{/if}}
{{/if}}