<div class="control-group" id="premium" style="margin-top:30px;">
    <label class="control-label">{{i18n 'premium_bt.title'}}</label>
    {{#if currentUser.subscriber}}
    <div class="controls">
        <a id="premium_change_payment_link" href="#">{{i18n 'premium_bt.preferences_change_payment_link'}}</a>
    </div>
    <div class="controls" style="margin-top:10px;">
        <a id="premium_unsubscribe_link" href="#">{{i18n 'premium_bt.preferences_unsubscribe_link'}}</a>
    </div>
    {{else}}
    <div class="controls">
        <a id="premium_subscribe_link" href="#">{{i18n 'premium_bt.preferences_subscribe_link'}}</a>
    </div>
    {{/if}}
</div>

<div class="premium-form popup-menu" id="premium_subscribe_form">
    <form action="javascript:formSubmit();" id="subscribe" method="post">
        <div class="form-text" id="subscribe_form_text">{{i18n 'premium_bt.form_subscribe_text'}}</div>
        <div id="paypal"></div>

        <label for="cardholder-name" id="cardholder-name-label" class="premium-label">Name (on card)</label>
        <input type="text" name="cardholder-name" id="checkout-name" class="premium-input">

        <label for="card-number" id="card-number-label" class="premium-label">Card Number</label>
        <div id="card-number" class="premium-input"></div>

        <label for="expiration-date" id="expiration-date-label" class="premium-label">Expiration Date (MM/YY)</label>
        <div id="expiration-date" class="premium-input"></div>

        <label for="cvv" id="cvv-label" class="premium-label">CVV</label>
        <div id="cvv" class="premium-input"></div>

        <input name="authenticity_token" type="hidden" value="{{ csrfToken }}"/>
        <input name="payment_method_nonce" type="hidden" value=""/>
        <input name="subscribe_or_update" type="hidden" value="subscribe"/>
        <div class="submit-wrapper">
            <input type="submit" id="subscribe_submit" class="submit-payment-button btn btn-primary save-user no-text" value="{{i18n 'premium_bt.form_subscribe_button'}}" />
        </div>
    </form>
</div>

<div class="premium-form popup-menu" id="premium_unsubscribe_form">
    <form action="javascript:unsubscribe();" id="unsubscribe" method="post">
        <div class="form-text" id="unsubscribe_form_text">{{i18n 'premium_bt.form_unsubscribe_text'}}</div>
        <div class="submit-wrapper">
            <input type="submit" class="submit-payment-button btn btn-primary save-user no-text" value="{{i18n 'premium_bt.form_unsubscribe_button'}}" />
        </div>
    </form>

</div>

<div class="status-alert"><a href="" class="close"><i class="fa fa-times-circle"></i></a><span id="status_alert_text">Please wait while we process this.</span></div>

<script>
$("#premium_subscribe_link").click(function(e){
    e.preventDefault();
    $("#subscribe_form_text").text("{{i18n 'premium_bt.form_subscribe_text'}}");
    $("#subscribe_submit").val("{{i18n 'premium_bt.form_subscribe_button'}}");
    $("#premium_subscribe_form").show();
    $('input[name="subscribe_or_update"]').val("subscribe");
});
$("#premium_change_payment_link").click(function(e){
    e.preventDefault();
    $("#subscribe_form_text").text("{{i18n 'premium_bt.form_change_payment_text'}}");
    $("#subscribe_submit").val("{{i18n 'premium_bt.form_change_payment_button'}}");
    $("#premium_subscribe_form").show();
    $('input[name="subscribe_or_update"]').val("update");
});
$("#premium_unsubscribe_link").click(function(e){
    e.preventDefault();
    $("#premium_unsubscribe_form").show();
});
$('.btn-primary').click(function(e){
    $('#status_alert_text').text("{{i18n 'premium_bt.processing_text'}}");
    $('.status-alert').show();
})
$(".status-alert .close").click(function(e){
    e.preventDefault();
    $('.status-alert').hide();
})

function formSubmit(){
    $('#status_alert_text').text("{{i18n 'premium_bt.processing_text'}}");
    $('.status-alert').show();
}

$(document).mouseup(function(e){
    var container = $(".premium-form, .status-alert");

    if (!container.is(e.target)
        && container.has(e.target).length === 0)
    {
        container.hide();
    }
})

$('input[name="authenticity_token"]').val($('meta[name="csrf-token"]').attr('content'));

var tokenCnt = 0;

function getClientToken(){
    var request = $.ajax({
        url: "/premium/client_token"
    });

    request.success(function(clientToken){
        braintree.setup(clientToken, "custom", {
            id: "subscribe",
            hostedFields: {
                styles: {
                    "input": {
                        "font-size": "0.929em"
                    }
                },
                number: {
                    selector: "#card-number"
                },
                expirationDate: {
                    selector: "#expiration-date"
                },
                cvv: {
                    selector: "#cvv"
                }
            },
            paypal: {
                container: "paypal"
            },
            dataCollector: {
                paypal: true
            },
            onPaymentMethodReceived: function (payload) {
                $('#status_alert_text').text("{{i18n 'premium_bt.processing_text'}}");
                $('.status-alert').show();
                $('input[name="payment_method_nonce"]').val(payload.nonce);
                if ($('input[name="subscribe_or_update"]').val() == "subscribe"){
                    url = "/premium/subscribe";
                }
                else {
                    url = "/premium/change_payment";
                };
                
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $(".premium-form #subscribe").serialize()
                }).success(function(response){
                    if (response.success == "OK"){
                        location.reload();
                    }
                });
            },
            onError: function (payload) {
                $('#status_alert_text').text(payload.message);
                $('.status-alert').show();
            }
        });
    });
     
    request.fail(function(e) {
        getClientToken();
    });
}

getClientToken();

function unsubscribe(){
    $('#status_alert_text').text("{{i18n 'premium_bt.processing_text'}}");
    $('.status-alert').show();
    var request = $.ajax({
        type: "POST",
        url: "/premium/cancel"
    });

    request.success(function(response){
        if (response.success == "OK"){
            location.reload();
        }
    });

    request.fail(function(response) {
        console.log(response);
    });
}

emailCheck();
function emailCheck(){
    var emailInterval = setInterval(function(){
        if ($('#bt-pp-email').is(':visible')) {
            $('.premium-label').hide();
            $('.premium-input').hide();
            $("#premium_subscribe_form").addClass("paypal-payment");
            clearInterval(emailInterval);
            paypalCheck();
        }
    }, 200);
}
function paypalCheck(){
    var paypalInterval = setInterval(function(){
        if ($('#bt-pp-email').is(':hidden')) {
            $('.premium-label').show();
            $('.premium-input').show();
            $("#premium_subscribe_form").removeClass("paypal-payment");
            clearInterval(paypalInterval);
            emailCheck();
        }
    })
}
</script>